body{
  margin: 0;
} 
.wrapper{
  min-height: 100vh;
  background: #ccc;
  display: flex;
  flex-direction: column;
}
.header,
.footer{
  text-align: center;
  height: 65px;
  background: #7f8c8d;
  color: #ecf0f1;
}
.content {
  display: flex;
  flex: 1;
  background: #999;
  color: #000; 
  text-align: center;
}
.columns{
  display: flex;
  flex:1;
}
.main{
  flex: 1;
  order: 2;
  background: #95a5a6;
}
.sidebar-first{
  width: 20%;
  background: #bdc3c7;
  order: 1;
}
.sidebar-second{ 
  width: 20%;
  order: 3;
  background: #bdc3c7;
}